# Dépendances
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Tests
/coverage

# Next.js
/.next/
/out/
/build

# Fichiers système
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'Environnement
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
jsconfig.json

# IDEs et Éditeurs
.idea/
.vscode/
*.sublime-workspace

# Fichiers Temporaires
*.bak
*.swp
*~

# Docker (ajoutez uniquement si vous avez décidé de ne pas partager ces fichiers)
/docker-compose.yml
/Dockerfile
